.share {
background-color: rgba(112, 183, 126,0.5);
margin : 20px;

}

.outerbox{

    width: 50%;
    /*
    The height needs to be changed to ensure that
    the size doenst change on different resolutions.
    Maybe try and get % to work(?)
    */
    height : auto;
    margin : 30px;
    border: 5px #00CECB solid;
    border-radius: 1cm;
}