.share {
border: 5px black solid;
margin : 20px;
background-color : green
}

.outerbox{
    background-color: blueviolet;
    width: 50%;
    /*
    The height needs to be changed to ensure that
    the size doenst change on different resolutions.
    Maybe try and get % to work(?)
    */
    height : 500px;
    margin : 30px
}