.row {
	direction: column;
	display : flex;
	padding: 50px;
	border: 1px solid black;
}

.two-columns {
	display : flex;
	direction: row;
	justify-content: space-evenly;
}

.primary-container {
	height: 100vh;
}